@import "~rfs/scss";

//* Navbar
.navvy {
    height: 10vh;

    .brand {
        color: #61dafb;
        transition: all 0.1s ease-in;

        &:hover {
            color: #00c8ff;
        }

        .brand-icon,
        .brand-header {
            @include font-size(1.5rem);
        }
    }
}

//* Main
.main {
    height: 90vh;
    width: 100vw;

    .main-section {
        height: 100%;
    }

    //? Chart
    .chart-container {
        position: relative;
        width: 80%;
        height: 90%;
    }

    //? Buttons
    .chart-buttons {
        button {
            transition: all 0.1s ease-in;

            &:active {
                transform: scale(0.8, 0.8);
                border-radius: 1.5rem;
            }
        }
    }
}
